### **D2APR: Aprendizado de M√°quina e Reconhecimento de Padr√µes** (IFSP, Campinas) <br/>
**Prof**: Samuel Martins (Samuka) <br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. <br/><br/>

#### Custom CSS style

In [1]:
%%html
<style>
.dashed-box {
    border: 1px dashed black !important;
#    font-size: var(--jp-content-font-size1) !important;
}

.dashed-box table {

}

.dashed-box tr {
    background-color: white !important;
}
        
.alt-tab {
    background-color: black;
    color: #ffc351;
    padding: 4px;
    font-size: 1em;
    font-weight: bold;
    font-family: monospace;
}
// add your CSS styling here
</style>

<span style='font-size: 2.5em'><b>California Housing üè°</b></span><br/>
<span style='font-size: 1.5em'>Predict the median housing price in California districts</span>

<span style="background-color: #ffc351; padding: 4px; font-size: 1em;"><b>Sprint #3</b></span>

<img src="./imgs/california-flag.png" width=300/>

---

## Before starting this notebook
This jupyter notebook is designed for **experimental and teaching purposes**. <br/>
Although it is (relatively) well organized, it aims at solving the _target problem_ by evaluating (and documenting) _different solutions_ for somes steps of the **machine learning pipeline** ‚Äî see the ***Machine Learning Project Checklist by xavecoding***. <br/>
We tried to make this notebook as literally a _notebook_. Thus, it contains notes, drafts, comments, etc.<br/>

For teaching purposes, some parts of the notebook may be _overcommented_. Moreover, to simulate a real development scenario, we will divide our solution and experiments into **"sprints"** in which each sprint has some goals (e.g., perform _feature selection_, train more ML models, ...). <br/>
The **sprint goal** will be stated at the beginning of the notebook.

A ***final notebook*** (or any other kind of presentation) that compiles and summarizes all sprints ‚Äî the target problem, solutions, and findings ‚Äî should be created later.

#### Conventions

<ul>
    <li>üí° indicates a tip. </li>
    <li> ‚ö†Ô∏è indicates a warning message. </li>
    <li><span class='alt-tab'>alt tab</span> indicates and an extra content (<i>e.g.</i>, slides) to explain a given concept.</li>
</ul>

---

## üéØ Sprint Goals
- Add new features
- Normalize the data
- Add a new model: Decision Tree Regression
---

### 0. Imports and default settings for plotting

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="whitegrid")

params = {'legend.fontsize': 'x-large',
          'figure.figsize': (15, 5),
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
plt.rcParams.update(params)

## üíΩ 2. Get the Data
In the previous sprint, we have removed outliers from the entire dataset, split it into training and testing set, and preprocessed the training set (by fillin in missing values for `total_bedrooms`.) <br/>
Both preprocessed training set and (raw) testing set were _saved to disk_. Let's use them here.

### 2.2. Load the Data

In [3]:
import pandas as pd

housing_train_pre = pd.read_csv('./datasets/housing_train_pre_sprint-2.csv')  # preprocessed train set
housing_test = pd.read_csv('./datasets/housing_test_sprint-2.csv')

In [4]:
housing_train_pre.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,-121.37,37.06,25.0,474.0,92.0,300.0,104.0,3.8062,0,1,0,0,0,340900.0
1,-118.39,34.14,19.0,5076.0,1034.0,2021.0,960.0,5.5683,1,0,0,0,0,309200.0
2,-122.07,37.41,26.0,1184.0,225.0,815.0,218.0,5.7657,0,0,0,1,0,322300.0
3,-121.92,36.57,42.0,3944.0,738.0,1374.0,598.0,4.1740,0,0,0,0,1,394400.0
4,-118.36,33.82,36.0,1083.0,187.0,522.0,187.0,5.7765,1,0,0,0,0,339500.0

In [5]:
housing_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.25,34.00,41.0,1768.0,475.0,1721.0,474.0,1.3030,90400.0,<1H OCEAN
1,-118.20,33.99,35.0,1705.0,523.0,2252.0,508.0,2.3421,154200.0,<1H OCEAN
2,-121.39,39.61,22.0,2828.0,610.0,986.0,391.0,2.8871,94700.0,INLAND
3,-118.46,34.00,39.0,4098.0,1100.0,2054.0,1053.0,2.9180,345600.0,<1H OCEAN
4,-121.03,39.14,10.0,3138.0,524.0,1275.0,511.0,4.0775,164500.0,INLAND

In [6]:
housing_train_pre.sample(4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
6071,-122.20,38.04,31.0,3029.0,500.0,1236.0,487.0,5.6022,0,0,0,1,0,197000.0
14709,-118.22,34.09,45.0,1072.0,275.0,996.0,243.0,2.8194,1,0,0,0,0,165000.0
11041,-118.31,33.93,37.0,1282.0,244.0,852.0,249.0,4.2917,1,0,0,0,0,127900.0
1060,-122.42,38.27,25.0,3282.0,566.0,1244.0,483.0,4.5313,0,0,0,1,0,308400.0

## üõ†Ô∏è 5. Prepare the Data

### 5.1. Adding new features (_independent variables_) and the target outcome (_dependent variable_)

The _total number of rooms_ in a district _is not very useful_ if you don‚Äôt know how many households there are. What you really want is **the number of rooms per household**. <br/>
Similarly, the _total number of bedrooms_ by itself _is not very useful_: you probably want to compare it to the number of rooms. </br>
And the **population per household** also seems like an interesting attribute combination to look at.

Let‚Äôs create these new attributes:

In [7]:
housing_train_pre['rooms_per_household'] = housing_train_pre['total_rooms'] / housing_train_pre['households']
housing_train_pre['bedrooms_per_room'] = housing_train_pre['total_bedrooms'] / housing_train_pre['total_rooms']
housing_train_pre['population_per_household'] = housing_train_pre['population'] / housing_train_pre['households']

In [8]:
housing_train_pre.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
0,-121.37,37.06,25.0,474.0,92.0,300.0,104.0,3.8062,0,1,0,0,0,340900.0,4.557692,0.194093,2.884615
1,-118.39,34.14,19.0,5076.0,1034.0,2021.0,960.0,5.5683,1,0,0,0,0,309200.0,5.287500,0.203704,2.105208
2,-122.07,37.41,26.0,1184.0,225.0,815.0,218.0,5.7657,0,0,0,1,0,322300.0,5.431193,0.190034,3.738532
3,-121.92,36.57,42.0,3944.0,738.0,1374.0,598.0,4.1740,0,0,0,0,1,394400.0,6.595318,0.187120,2.297659
4,-118.36,33.82,36.0,1083.0,187.0,522.0,187.0,5.7765,1,0,0,0,0,339500.0,5.791444,0.172669,2.791444

<br/>

We could perform the EDA on the training set again but now considering these new features. <br/>
For now, let's just check the **correlation** between these _new features_ with the _target outcome_.

#### **Correlation**

In [12]:
housing_train_pre.corr()['median_house_value'].sort_values(ascending=False)

median_house_value            1.000000
median_income                 0.663135
ocean_proximity_<1H OCEAN     0.308020
ocean_proximity_NEAR OCEAN    0.152543
total_rooms                   0.151353
ocean_proximity_NEAR BAY      0.116876
rooms_per_household           0.115246
households                    0.095126
total_bedrooms                0.073440
ocean_proximity_ISLAND        0.021708
housing_median_age            0.017499
population                    0.013621
population_per_household     -0.019132
longitude                    -0.022043
latitude                     -0.171698
bedrooms_per_room            -0.218127
ocean_proximity_INLAND       -0.499287
Name: median_house_value, dtype: float64

Hey, not bad! The new `bedrooms_per_room` attribute is much more correlated with the `median house value` than the `total number of rooms or bedrooms`. <br/>
Apparently, houses with a <i>lower bedroom/room ratio</i> tend to be <b>more expensive</b>. <br/>
The `number of rooms per household` is also <b>more informative</b> than the `total number of rooms` in a district ‚Äî obviously the larger the houses, the more expensive they are.

Another interesting point is the correlation between the <i>dummy variables</i> with the `median house value` -- not done in previous sprints. </br>
The dummy variable `ocean_proximity_INLAND` has <i>strong negative correlation</i> with the `median house value` whereas `ocean_proximity_<1H OCEAN` has a <i>postive one</i>.

<table align="left" class="dashed-box">
<tr>
    <td>üí°</td>
    <td>This round of exploration does not have to be absolutely thorough; the point is to quickly gain insights that helps you ot improve our models.</i></td>
</tr>
<tr>
    <td></td>
    <td>But this is an <i>iterative process</i>: once you get a prototype up and running, you can analyze its output to gain more insights and come back to this exploration step.</td>
</tr>
</table><br/><br/>

### 5.2. Separating the independent variables (features) and the _dependent variable_ (target outcome)

In [13]:
housing_train_target = housing_train_pre['median_house_value'].copy()
housing_train_pre = housing_train_pre.drop(columns=['median_house_value'])

### 5.3. Feature Scaling

With few exceptions, ML algorithms **don‚Äôt perform well** when the _input numerical attributes_ have **very different scales**. </br>
For example, compare the scale of the attributes: `median_income` and `median_house_value`.

Although **feature scaling** _is not_ necessarily for the [`LinearRegression()`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) implementation from sklearn, we intend to evaluate other regression methods soon that may need that. So, we will perform it.

<table align="left" class="dashed-box">
<tr>
    <td><span class='alt-tab'>alt tab</span></td>
    <td><b>Slides:</b> Feature Scaling</td>
</tr>
</table><br/><br/>

<table align="left" class="dashed-box">
<tr>
    <td>‚ö†Ô∏è</td>
    <td>Note that <i>scaling</i> the <b>target outcome</b> is generally <b>not required</b>.</i></td>
</tr>
</table><br/><br/>

<table align="left" class="dashed-box">
<tr>
    <td>‚ö†Ô∏è</td>
    <td>We <b>do not</b> need to scale the <i>(binary) dummy variables</i>.</i></td>
</tr>
</table><br/><br/>

<table align="left" class="dashed-box">
<tr>
    <td>‚ö†Ô∏è</td>
    <td>As with all the transformations, it is important <i>to fit the scalers</i> to the <b>training data <i>only</i></b>, <b>not</b> to the <i>full dataset</i> (including the <i>test set</i>).</i></td>
</tr>
<tr>
    <td></td>
    <td>Only then can you use them to transform the training set and the test set (and new data) --> <b>no data snooping bias</b>.</td>
</tr>
</table><br/><br/>

Since most of our training features have many _outliers_, let's use the **RobustScaler**. <br/>
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html

In [14]:
housing_train_pre.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,rooms_per_household,bedrooms_per_room,population_per_household
0,-121.37,37.06,25.0,474.0,92.0,300.0,104.0,3.8062,0,1,0,0,0,4.557692,0.194093,2.884615
1,-118.39,34.14,19.0,5076.0,1034.0,2021.0,960.0,5.5683,1,0,0,0,0,5.287500,0.203704,2.105208
2,-122.07,37.41,26.0,1184.0,225.0,815.0,218.0,5.7657,0,0,0,1,0,5.431193,0.190034,3.738532
3,-121.92,36.57,42.0,3944.0,738.0,1374.0,598.0,4.1740,0,0,0,0,1,6.595318,0.187120,2.297659
4,-118.36,33.82,36.0,1083.0,187.0,522.0,187.0,5.7765,1,0,0,0,0,5.791444,0.172669,2.791444

In [15]:
housing_train_pre.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN', 'rooms_per_household',
       'bedrooms_per_room', 'population_per_household'],
      dtype='object')

In [16]:
numeric_variables = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'rooms_per_household', 'bedrooms_per_room', 'population_per_household']
dummy_variables = ['ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND', 'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY', 'ocean_proximity_NEAR OCEAN']

In [17]:
X_train_numeric = housing_train_pre[numeric_variables].values
X_train_dummy = housing_train_pre[dummy_variables].values

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household
0,-121.37,37.06,25.0,474.0,92.0,300.0,104.0,3.8062,4.557692,0.194093,2.884615
1,-118.39,34.14,19.0,5076.0,1034.0,2021.0,960.0,5.5683,5.287500,0.203704,2.105208
2,-122.07,37.41,26.0,1184.0,225.0,815.0,218.0,5.7657,5.431193,0.190034,3.738532
3,-121.92,36.57,42.0,3944.0,738.0,1374.0,598.0,4.1740,6.595318,0.187120,2.297659
4,-118.36,33.82,36.0,1083.0,187.0,522.0,187.0,5.7765,5.791444,0.172669,2.791444
...,...,...,...,...,...,...,...,...,...,...,...
14852,-124.14,41.06,32.0,1020.0,215.0,421.0,198.0,3.0208,5.151515,0.210784,2.126263
14853,-118.22,33.98,32.0,2643.0,737.0,2784.0,711.0,2.5352,3.717300,0.278850,3.915612
14854,-121.86,37.31,24.0,1939.0,652.0,1808.0,625.0,2.2259,3.102400,0.336256,2.892800
14855,-121.32,37.96,46.0,1832.0,365.0,975.0,373.0,2.0398,4.911528,0.199236,2.613941
14856,-117.30,34.14,39.0,1781.0,335.0,841.0,320.0,1.9432,5.565625,0.188097,2.628125

In [ ]:
X_train_dummy = housing_train_pre[dummy_variables].values

## üèãÔ∏è‚Äç‚ôÄÔ∏è 6. Train ML Algorithms

### 6.1. Getting the independent (features) and dependent variables (outcome)

In [ ]:
# we already have X_train
y_train = housing_train_target.values

### 6.2. Training the Models

#### **‚Üí Linear Regression**

In [ ]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()  # default parameters
lin_reg.fit(X_train, y_train)

#### **‚Üí Decision Tree Regression**
This is a powerful model, capable of finding complex nonlinear relationships in the data. <br/>
https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html

### 6.3. Evaluating on the Training Set

#### **‚Üí Linear Regression**

##### **Prediction**

In [ ]:
y_train_pred_lin_reg = lin_reg.predict(X_train)

##### **Evaluation**

In [ ]:
from sklearn.metrics import r2_score

lin_reg_r2 = r2_score(y_train, y_train_pred_lin_reg)
print(f'R¬≤ linear regression = {lin_reg_r2}')

In [ ]:
from sklearn.metrics import mean_squared_error

lin_reg_rmse = mean_squared_error(y_train, y_train_pred_lin_reg, squared=False)
print(f'RMSE = {lin_reg_rmse}')

The RMSE (\\$58,146) has slightly decreased compared to Sprint #2 (\\$58,689).

#### **Visual Analysis**

In [ ]:
sns.scatterplot(x=y_train_pred_lin_reg, y=y_train)
plt.xlabel('Prediction')
plt.ylabel('Real')
plt.title('Median housing value - Prediction vs Real - Linear Regression')

In [ ]:
residual_lin_reg = y_train - y_train_pred_lin_reg

sns.scatterplot(x=y_train_pred_lin_reg, y=residual_lin_reg)
plt.xlabel('Prediction')
plt.ylabel('Residual')
plt.title('Median housing value - Prediction vs Residual - Linear Regression')

<br/><br/>

#### **‚Üí Decision Tree**

##### **Prediction**

##### **Evaluation**

In [ ]:
from sklearn.metrics import r2_score

tree_reg_r2 = r2_score(y_train, y_train_pred_tree_reg)
print(f'R¬≤ decision tree regression = {tree_reg_r2}')

In [ ]:
from sklearn.metrics import mean_squared_error

tree_reg_rmse = mean_squared_error(y_train, y_train_pred_tree_reg, squared=False)
print(f'RMSE = {tree_reg_rmse}')

Wait, what!? No error at all? Could this model really be absolutely perfect? <br/>
Of course, it is much more likely that the model has badly <b>overfit</b> the data.

We'd better evaluate it by using <b style="color: #ff5757 !important">Cross-Validation</b>.

#### **Visual Analysis**

In [ ]:
sns.scatterplot(x=y_train_pred_tree_reg, y=y_train)
plt.xlabel('Prediction')
plt.ylabel('Real')
plt.title('Median housing value - Prediction vs Real - Decision Tree Regression')

In [ ]:
residual_tree_reg = y_train - y_train_pred_tree_reg

sns.scatterplot(x=y_train_pred_lin_reg, y=residual_tree_reg)
plt.xlabel('Prediction')
plt.ylabel('Residual')
plt.title('Median housing value - Prediction vs Residual |')

<h3 style="color: #ff5757 !important"><b>Cross-validation</b></h3>

<table align="left" class="dashed-box">
<tr>
    <td><span class='alt-tab'>alt tab</span></td>
    <td><b>Slides:</b> Model Validation</td>
</tr>
</table><br/><br/>

`sklearn.model_selection.cross_val_score` <br/>
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html

#### **‚Üí Decision Tree**

The following code ***randomly splits*** (_no stratification_) the _training set_ into **10 folds**, then it trains and evaluates the Decision Tree model 10 times, picking a different fold (**validation set**) for evaluation every time and training on the other 9 folds (**train-dev set**). <br/>
The result is an _array_ containing the 10 evaluation scores.

<table align="left" class="dashed-box">
<tr>
    <td>‚ö†Ô∏è</td>
    <td>Scikit-Learn‚Äôs cross-validation features expect a <i>utility function</i> (<b>greater is better</b>) rather than a <i>cost function</i> (<i>lower is better</i>), so the <i>scoring function</i> is actually the <b>opposite of the MSE</b> (i.e., a negative value), which is why the preceding code computes <code>-scores</code> before calculating the square root.</td>
</tr>
</table><br/><br/>

In [ ]:
# printing function
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [ ]:
display_scores(tree_rmse_scores)

Now the Decision Tree **doesn‚Äôt look as good as it did earlier**. In fact, it seems to perform **worse than the Linear Regression model**: mean cross-validation RMSE: \\$63,548 against \\$58,146 (linear regression).

Notice that cross-validation allows you to get not only an estimate of the performance of your model, but also _a measure of_ **how precise this estimate is** (i.e., its **standard deviation**). <br/>
The Decision Tree has a score of approximately \\$63,548, generally ¬± \$2,497. <br/>
We _would not_ have this information if we just used **one validation set (hold-out strategy)**.

But cross-validation comes at the **cost of training the model several times**, so it is not always possible.

#### **‚Üí Linear Regression**
Let's do the same with Linear regression and compare it with Decision Tree.

In [ ]:
display_scores(lin_rmse_scores)

<br/>

That‚Äôs right: the Decision Tree model is **overfitting** so badly that it performs worse than the Linear Regression model:
- **Linear Regression:** \\$58,371 ¬± \$1,757
- **Decision Tree:** \\$63,548 ¬± \$2,497

<table align="left" class="dashed-box">
<tr>
    <td>‚ö†Ô∏è</td>
    <td>Before using the <b>mean cross-validate score</b> to compare both method, we <b>MUST</b> guarantee that they are using <b><i>exactly</i> the same folds</b> during the cross-validation.</td>
</tr>
<tr>
    <td></td>
    <td>This is true for the example above. When passing <i>the same integer number</i> to the <code>cross_val_score</code> without proving a target array <code>y</code> with <b>label/class</b>, the function will use <code>KFold</code> for cross-validation.</td>
<tr>
    <td></td>
    <td>Both executions of <code>KFold</code> generates the same folds.</td>
</tr>
</table><br/><br/>

<table align="left" class="dashed-box">
<tr>
    <td>‚ö†Ô∏è</td>
    <td>Since we performed <b>stratified sampling</b> to build our training and testing set, it should be more indicated to consider the <b>Stratified k-Fold</b>.</td>
</tr>
<tr>
    <td></td>
    <td>However, as <code>cross_val_score</code> only consider <b>Stratified k-Fold</b> if the target target array <code>y</code> contains <b>labels/classes</b>, we should create our own cross-validation function capable of stratifying our training set by using a different variable from <code>y</code> --> <code>mean_income_group</code>.</td>
</tr>
</table><br/><br/>